body{
  margin: 0;
  background-color: #393E46;
  text-align: center;
}
h1{
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
}
h2{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}
#btn{
  font-family: Courier New;
  color: #f2e4f2;
  font-size: 2.2vw;
  background: #282828	;
  padding: 4px 20px 8px 20p;
  text-decoration: none;
  width: 320px;
  height: 45px;
  border: none;
}
#btn:hover{
  background: #3a6885;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  justify-content: center;
  align-items: center;
}
.flex-items{
  margin: 2%;
  border-radius: 5%;
}
.foot{
  color: white;
}
